body {
  background: #ddd;
}

img {
  max-width: 100%;
}

.visual_slider figure {
  height: 600px;
}

.visual_slider .itm01 {
  background: url(../img/insta01.jpg) no-repeat center center/cover;
}
.visual_slider .itm02 {
  background: url(../img/insta02.jpg) no-repeat center center/cover;
}
.visual_slider .itm03 {
  background: url(../img/insta03.jpg) no-repeat center center/cover;
}

.main {
  position: relative;
}

.main .slogan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  color: #fff;
  text-shadow: 0 0 3px #000;
}

.main .slick-dots {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.main .slick-dots li {
  display: inline-block;
  width: 100px;
  height: 6px;
  background: #333;
  margin: 0 2px;
}

.main .slick-dots li::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background: #f00;
}

.main .slick-dots li.slick-active::after {
  width: 100%;
  transition: 3.3s linear;
}

.main .slick-dots li button {
  display: none;
}

.main .slick-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;

  font-size: 0;
  border: none;
  background: transparent;

  width: 100px;
  height: 100px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  opacity: 0.5;
  transition: border 0.3s;
}

.main .slick-arrow:hover {
  opacity: 1;
}

.main .slick-prev {
  margin: 0 0 0 -700px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main .slick-next {
  margin: 0 0 0 700px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.main .wheel {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);

  width: 30px;
  height: 55px;
  border: 2px solid #fff;
  border-radius: 15px;
  font-size: 0;
}

.main .wheel span {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 12px;
  background: #fff;
  border-radius: 1px;
  animation: wheel 0.8s ease-in-out infinite;
}

@keyframes wheel {
  to {
    top: 12px;
  }
}
